:root {
  --bg: #d2d2e6; 
  --card: #ffffff; 
  --text: #5E85D9; 
  --muted: #6b7280; 
  --primary: #2563eb; 
  --danger: #dc2626; 
  --ok: #16a34a; 
  --space: 16px; 
  --radius: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

header {
  position: sticky;
  top: 0;
  border-bottom: 3px var(--border) dashed;
  background: rgba(176, 162, 174, 0.626);
}

nav {
  display: flex;
  gap: 14px;
  padding: 10px 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 20px;
  align-items: start;
  padding: 22px var(--space) 70px;
}

section{
    grid-template-columns: 1/0;
}

.hero,
.card
.form_block {
  background: var(--card);
  justify-self: center;
  padding: 22px;
  border: 2px solid var(--border);
  border-radius: var(--radius);
  grid-column: 1/-1;
}

.separator{
  padding: 2px;
  margin: var(--space);
}

h1 {
  font-size: 3rem;
}

.card {
  padding: 2px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.card form {
  display: flex;
  flex-direction: column;
}

input,
select,
button {
  font: inherit;
}

input,
select {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: rgba(0, 0, 0, 0.15);
  color: var(--text);
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.btn,
.btn.primary {
  color: palevioletred;
  width: max-content;
  margin-top: 15px;
  border-radius: 12px;
  border: solid 2px var(--border);
  cursor: pointer;
  padding: 4px 9px;
}

.btn.primary:hover{
  background-color: papayawhip;
  color: rgb(212, 161, 169);
  cursor: pointer;
}

.success{
  color:var(--ok)
}

.error{
  color:var(--danger)
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(156, 163, 175,0.9);
}

.container {
  max-width: 500px;
  margin: 40px auto;
}
